<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="login">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{film?.title}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="film">
    <ion-card-header>
      <ion-card-title> {{film.title}} </ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label>
        Lançamento: {{film.release_date}}<br>
        Direção:{{film.director}}
      </ion-label>
    </ion-item>
    <ion-card-content>
      <strong>Sinopse:<br></strong>
        {{ film.opening_crawl }}
    </ion-card-content>
  </ion-card>
</ion-content>
